# General
*.log
*.tmp
*.swp
*.swo

# Node modules
/node_modules/

# Environment files
*.env

# Build outputs
/dist/
/build/
/target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Visual Studio Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Frontend specific
/frontend/node_modules/
/frontend/build/

# Backend specific
/backend/target/
